@import ../../assets/sassStyles/_mediaqueries
@import ../../assets/sassStyles/_reset
    
.navbar 
    height: 10vh
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #48006A

.navbar-logo
    margin: 10px

.navbar-list
    margin: 10px
    display: flex
    gap: 30px



@include screen-sm
    .navbar-logo
        color: yellow 

    .navbar-list-element
        color: yellow

@include screen-md
    .navbar
        font-size: 1.5rem

    .navbar-logo
        color: red 

    .navbar-list-element
        color: red

@include screen-lg
    .navbar
        font-size: 1.8rem

    .navbar-logo
        color: blue 

    .navbar-list-element
        color: blue