@import url('https://fonts.googleapis.com/css2?family=REM&display=swap')


//Colors
// $primary-background-color: #021945
// $secondary-background-color: #0F2A5E
$primary-background-color: #000
$secondary-background-color: #232323
$highlited-text-color: #3AA2D9
$primary-text-color: white

//Fonts
$main-font: 'REM', sans-serif

